---
import '@fontsource-variable/open-sans';
import '@fontsource/poppins';
import img1 from '../images/illustration-mockups.svg';
import img2 from '../images/logo.svg'
---

<div class="flex flex-col lg:flex-row lg:gap-5">
    <img class="" src={img1.src} alt="">
    <article class="text-center my-10 font-poppins flex flex-col gap-10 items-center lg:text-left lg:items-start">
        <p class="text-4xl text-balance">Build The Community Your Fans Will Love</p>
        <p class="text-xl text-pretty font-extralight font-opensans">Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion.</p>
        <button class=" w-52 bg-[#FFFF] text-pviolet rounded-3xl text-sm py-3 shadow-lg hover:bg-psmagenta hover:text-[#FFFF] transition duration-500">Register</button>
    </article>
</div>