---
import '@fontsource-variable/open-sans';
import '@fontsource/poppins';
import img1 from '../images/illustration-mockups.svg';
---

<div class="max-w-sm mx-auto w-full flex flex-col lg:flex-row lg:max-w-7xl lg:gap-10">
    <img class="mb-24 lg:mb-0"  src={img1.src} alt="">
    <article class="flex flex-col items-center text-center gap-8 lg:text-left lg:mt-10 lg:items-start">
        <h1 class="font-poppins text-3xl lg:text-5xl lg:leading-[4rem]">Build The Community Your Fans Will Love</h1>
        <p class="text-xl lg:text-lg text-pretty font-opensans font-light">Huddle re-imagines the way we build communities. You have a voice, but so does your audience. Create connections with your users as you engage in genuine discussion.</p>
        <button class="font-poppins bg-[#FFFF] text-pviolet px-24 py-3 rounded-3xl">Register</button>
    </article>
</div>