---
import '@fontsource-variable/open-sans';
import '@fontsource/poppins';
import img1 from '../images/logo.svg';
---

<div class="max-w-sm mx-auto w-full py-10 lg:max-w-7xl ">
    <img class="w-36" src={img1.src} alt="">
</div>

