---
interface Props {
	title: string;
}

const { title } = Astro.props;
import Header from '../components/Header.astro';
import img1 from '../images/bg-desktop.svg';
const stylehero = `background-image: url('${img1.src}')`;
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="relative flex flex-col min-h-screen bg-pviolet text-[#FFFF] overscroll-none bg-no-repeat bg-cover justify-between" style={stylehero} >
		<Header />
		<slot />
		<Footer />
	</body>
</html>
